.heading-container-large{
    font-size: 40;
    font-weight: black;
    color: white;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: flex-start;
}

.heading-container-large-contents{
    display: inline-block; /* Make the container hug its text contents */
    margin: 0;
}

.heading-container-large-underline{
    width: 75%; 
    height: 4px;
    background-color: #FF684F;
}